@font-face {
    font-family: 'chomsky';
    src: url('../font/Chomsky.otf') format('opentype');
}
@font-face {
    font-family: 'content';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
*{
    margin: 0%;
    padding: 0%;
}

.card img{
    /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 1s;

}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(245, 238, 214);
}

.container{
    position: relative;
    padding: 0px 10px;
    width: 80%;
    min-height: 100vh;
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

.header{
    text-align: center;
    font-size: 70px;
    font-family: 'chomsky',sans-serif;
    height: 95px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100000;
}
.quote{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 1.2vw;
}

.date{
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.2vw;
}
.header .est{
    text-align: center;
    font-size: 15px;
}

.body{
    font-family: 'content';
    display: grid;
    grid-template-columns: 200px auto;
    padding-bottom: 30px;
}

.body .rightsec{
    font-family: 'content';
    display: grid;
    grid-template-columns: 1fr .75fr;
}


.card p{
    padding-top: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify:distribute-all-lines;
}

.card:hover{
    background-color: rgb(242, 242, 242);
    transform: scale(1.01);
    transition: .5s;
    border-radius: 5px;
}

.footer{
    background-color: white;
    width: 100%;
    border-top: 2px solid black;
    /* position: sticky; */
    bottom: 0px;
}

@media only screen and (max-width: 1000px) {
    .body .rightsec{
        font-family: 'content';
        display: grid;
        grid-template-columns: 1fr;
    }
    .quote{
        visibility: hidden;
    }

  }

@media only screen and (max-width: 600px) {
    .body{
        display: grid;
        grid-template-columns: 1fr;
    }

    .quote , .date{
        visibility: hidden;
    }
  }

  @media only screen and (max-width: 400px) {
    .body{
        display: grid;
        grid-template-columns: 1fr;
    }

    .header{
        font-size: 50px;
    }
  }